<%- include("header") -%>

<h1>About Me</h1>
<p>I am Omair yahya a 6th Semester student in University Of peshawar(UOP)</p>
<p>A Full stack Web developer</p>
<p>This Time looking for part time job in peshawar</p>


    <h2>Expertise</h2>
    <ul>
        <li>Full Stack Web Development</li>
        <li>Canva Expert</li>
        <li>Snapa Expert</li>
    


    </ul>

    <h1>Qualification</h1>
    <p>UnderGraduate(Computer science) </p>
    <p>Certification in web devolopment from <a href="#"><i>NAVTTC Islamabad</i></a></p>
    <p>Certification In Soft Skills</p>
    
    <p></p>


<%- include("footer") -%>