<%- include ("header") -%>

<h1>Contact Me on the following platform</h1>

<p>Email : omairyahya55@gmail.com</p>
<p>Cell : +923435873184</p>
<p>Location : Peshawar, Pak</p>

<%- include ("footer") -%>
